*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
C#/WordGame/WordGame/obj/Debug/WordGame.g.resources
*.exe
C#/WordGame/WordGame/obj/Debug/*

D:\Dev\Scrabbleships\C#\WordGame\WordGame\bin\Debug\*
C#/WordGame/WordGame/bin/Debug/*
C#/WordGame/.vs/*
